<footer>
 <div>Dolphin is a data-driven vector visualization studio. It is available as a lightweight stand-alone client-side application as well as the most efficient server-side data visualization engine.<br>Thank you for choosing Dolphin for your data visualization needs.
 </div>
 <menu>
 <a href="aboutUs.html">About Us</a>
 <a href="contact.html">Contact Us</a>
 <a href="privacy.html">Privacy Policy</a>
 <a href="cookies.html">Cookie Policy</a>
 <a href="service.html">Terms of Service</a>
 <a href="careers.html">Careers</a>
 </menu>
 <menu>
 <a href="linkedin.html">LinkedIn</a>
 <a href="facebook.html">YouTube</a>
 <a href="youtube.html">Facebook</a>
 <a href="twitter.html">Twitter</a>
 <a href="instagram.html">Instagram</a>
 </menu>
 <copy>&copy; Copyright 2024 Dolphin. All Rights Reserved.</copy>
 </footer>