<header>
 <brand><div id="logo"></div><div><a href="demo-home.html">Dolphin</a> <span id="page"></span></div></brand>
 <div class="navBarLines">
 <div class="navBarLine1"></div>
 <div class="navBarLine2"></div>
 <div class="navBarLine3"></div>
 </div>
</header>