:root {
 /* Backgrounds */
 --dracula-bg: #282a36;
 --dracula-current-line: #44475a;
 --dracula-selection: #44475a;

 /* Foreground / Text */
 --dracula-fg: #f8f8f2;
 --dracula-comment: #6272a4;

 /* Accent Colors */
--dracula-black:#21222C;
--dracula-blue:#BD93F9;
--dracula-white:#F8F8F2;
--dracula-cyan:#8BE9FD;
--dracula-green:#50FA7B;
--dracula-orange: #ffb86c;
--dracula-pink:#FF79C6;
--dracula-red:#FF5555;
--dracula-yellow:#F1FA8C;
--dracula-brightBlack: #6272A4;
--dracula-brightBlue: #D6ACFF;
--dracula-brightCyan: #A4FFFF;
--dracula-brightGreen: #69FF94;
--dracula-brightPurple: #FF92DF;
--dracula-brightRed: #FF6E6E;
--dracula-brightWhite: #FFFFFF;
--dracula-brightYellow: #FFFFA5;
}

/* The CSS to style your custom button */
.dracula-btn {
 text-decoration: none;
 color: black;
 margin: 50px;
 margin-right: 20px;
 margin-bottom: 100px;
 font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
 font-size: 24px;
 padding: 10px 30px;
 width: 150px;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease; /* Smooth transition animation for hover */
}

.dracula-btn[type='submit']:hover {
 color: white;
 background-color: teal;
}

.dracula-btn[type='reset']:hover {
 color: white;
 background-color: maroon;
}

/* What happens when you hover your mouse over the button */
.dracula-btn:hover {
 background-color: #0056b3;
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
 transform: translateY(-2px); /* Lifts the button slightly up */
}

/* What happens when you physically click down on the button */
.dracula-btn:active {
 transform: translateY(0); /* Pushes the button back down */
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


pre {
    background-color: var(--dracula-bg);
    color: #d4d4d4;
    padding: 15px;
    border-radius: 5px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 1.5rem;
    font-weight: bold;
    overflow-x: auto;
}

/* .json-key { color: #9cdcfe; font-weight: bold; }   Light Blue */
/* .json-string { color: #ce9178; }                Terracotta */
.json-number { color: #b5cea8; }                /* Light Green */
.json-boolean { color: #569cd6; }               /* Dark Blue */
.json-null { color: #646464; font-style: italic; } /* Gray */

.json-key{color: var(--dracula-brightCyan);}
.json-string{color: var(--dracula-yellow);}

.highlight {
  background-color: yellow;
  font-weight: bold;
  color: red;
}