:root {
 /* Backgrounds */
 --dracula-bg: #282a36;
 --dracula-current-line: #44475a;
 --dracula-selection: #44475a;

 /* Foreground / Text */
 --dracula-fg: #f8f8f2;
 --dracula-comment: #6272a4;

 /* Accent Colors */
 --dracula-cyan: #8be9fd;
 --dracula-green: #50fa7b;
 --dracula-orange: #ffb86c;
 --dracula-pink: #ff79c6;
 --dracula-purple: #bd93f9;
 --dracula-red: #ff5555;
 --dracula-yellow: #f1fa8c;
}

/* The CSS to style your custom button */
.dracula-btn {
 text-decoration: none;
 color: black;
 margin: 50px;
 margin-right: 20px;
 margin-bottom: 100px;
 font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
 font-size: 24px;
 padding: 10px 30px;
 width: 150px;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease; /* Smooth transition animation for hover */
}

.dracula-btn[type='submit']:hover {
 color: white;
 background-color: teal;
}

.dracula-btn[type='reset']:hover {
 color: white;
 background-color: maroon;
}

/* What happens when you hover your mouse over the button */
.dracula-btn:hover {
 background-color: #0056b3;
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
 transform: translateY(-2px); /* Lifts the button slightly up */
}

/* What happens when you physically click down on the button */
.dracula-btn:active {
 transform: translateY(0); /* Pushes the button back down */
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
