<!doctype html>
<html lang="en">
 <head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <link rel='icon' href='../icon.svg' sizes='any' type='image/svg+xml' />
  <title>FAQs</title>
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <script type='module' src='../demo-pub-doc-faq-view.js'></script>
  <!-- <script> var name = name.name</script> -->
 </head>
 <body>
  <div style='margin:100px'>
   <h1>Frequently Asked Questions</h1><br />
   <div style='font-size: 30px;'>
    <span id='ppp'>{{name}}, your document with faqs is printing</span>
   </div>
  </div>
 </body>
</html>