#main-divMainBox {
 display: flex;
 flex-direction: row;
 /* justify-content: space-evenly; */
 /* justify-content: flex-start; */
 justify-content: center;
 /* align-items: flex-start; */
 align-items: center;
 margin: auto;
 margin-top: 10px;
 padding: 10px;
 /* padding-left: 100px; */
 border: 2px solid red;
 border-radius: 10px;
}

.legend {
 width: 20px;
 height: 20px;
}

#legend-key {
 margin-left: -20px;
 border-spacing: 20px 10px;
}


.bar:hover {
 fill: black;
 animation: shake 0.1s linear infinite alternate;
}

@keyframes shake {
 0% {
  translate: -2px 0px;
 }
 100% {
  translate: 2px 0px;
 }
}
