:root {
 --speed: 4s;
}

#divMainBox {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 /* justify-content: flex-start; */
 /* align-items: flex-start; */
 align-items: center;
 margin: auto;
 margin-top: -20px;
}

#divMainBox svg:hover {
 animation: spin var(--speed) linear infinite;
}

@keyframes spin {
 100% {
  transform: rotate(360deg);
 }
}

#slideContainer input {
 margin: auto;
 /* margin-top: 10px; */
 width: 100%;
}

#divBladeColor,
#sliderValueX,
#sliderValueY,
#sliderValueN {
 margin: 10px 0px;
 font-size: 24px;
}
#sliderValueX {
 color: teal;
}
#sliderValueY {
 color: maroon;
}
#sliderValueN {
 color: dodgerblue;
}

#divBladeColor {
 margin-top: 20px;
}

#alertBox {
 display: none;
 width: 300px;
 height: 240px;
 padding: 30px;
 border: 2px solid red;
 background-color: white;
 position: absolute;
 top: 20%;
 left: -150%;
 transform: translate(-50%, -50%);
 font-size: 19px;
 word-wrap: break-word;
 transform: scale(1.4);
}

#alertBox table {
 border-collapse: separate;
 border-spacing: 20px 10px;
}

#submitBtn {
 margin: auto;
 margin-top: 20px;
 font-size: 20px;
 padding: 6px 20px;
 width: 150px;
}
